<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>text.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F71243591D4C46DB0016BC8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F71243721D4C46DC0016BC8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F712437D1D4C46DC0016BC8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
